In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

In [2]:


import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

import json
import requests

from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
import re

print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Libraries imported.

In [3]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.6.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install bs4

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from bs4 import BeautifulSoup

In [6]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [7]:
import lxml

In [23]:
urlinit='https://bitinfocharts.com/top-100-richest-bitcoin-addresses.html'
columns = ['0','Address','Balance','% of coins', 'First In','Last In','Number Of Ins','First Out','Last Out', 'Number of Outs']
result = pd.DataFrame(columns=columns)
page = requests.get(urlinit).text
doc = BeautifulSoup(page, 'html.parser')
print(urlinit)
address = doc.find('table')
table = doc.find_all('table')
df1 = pd.read_html(str(table))[2]
df1.columns = ['0','Address','Balance','% of coins', 'First In','Last In','Number Of Ins','First Out','Last Out', 'Number of Outs']
table2 = doc.find_all('table')
df2 = pd.read_html(str(table))[3]
df2.columns = ['0','Address','Balance','% of coins', 'First In','Last In','Number Of Ins','First Out','Last Out', 'Number of Outs']
df3 = pd.concat([df1, df2], axis=0,ignore_index=True)
result=df3

https://bitinfocharts.com/top-100-richest-bitcoin-addresses.html

In [24]:
url1='https://bitinfocharts.com/top-100-richest-bitcoin-addresses-'
url2='.html'
columns = ['0','Address','Balance','% of coins', 'First In','Last In','Number Of Ins','First Out','Last Out', 'Number of Outs']
#result = pd.DataFrame(columns=columns)

for x in range(2,21):
        url3=url1+str(x)+url2
        page = requests.get(url3).text
        doc = BeautifulSoup(page, 'html.parser')
        print(url3)
        address = doc.find('table')
        table = doc.find_all('table')
        df1 = pd.read_html(str(table))[0]
        df1.columns = ['0','Address','Balance','% of coins', 'First In','Last In','Number Of Ins','First Out','Last Out', 'Number of Outs']
        table2 = doc.find_all('table')
        df2 = pd.read_html(str(table))[1]
        df2.columns = ['0','Address','Balance','% of coins', 'First In','Last In','Number Of Ins','First Out','Last Out', 'Number of Outs']
        df3 = pd.concat([df1, df2], axis=0,ignore_index=True)
        result = pd.concat([result, df3], axis=0,ignore_index=True)
else:
  print("Finally finished!")

https://bitinfocharts.com/top-100-richest-bitcoin-addresses-2.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-3.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-4.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-5.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-6.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-7.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-8.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-9.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-10.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-11.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-12.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-13.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-14.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-15.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-16.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-17.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-18.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-19.html
https://bitinfocharts.com/top-100-richest-bitcoin-addresses-20.html
Finally finished!

In [25]:
result.shape

(2000, 10)

In [33]:
result.loc[[3]]

,0,Address,Balance,% of coins,First In,Last In,Number Of Ins,First Out,Last Out,Number of Outs
3,4,bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...,"74,011 BTC ($1,358,506,852 USD) +17010 BTC / +...",0.3986%,2019-08-16 10:00:29 UTC,2020-12-08 10:25:11 UTC,42,2020-02-02 17:43:14 UTC,2020-11-17 18:16:27 UTC,38.0

In [34]:
result.loc[3]

0                                                                 4
Address           bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...
Balance           74,011 BTC ($1,358,506,852 USD) +17010 BTC / +...
% of coins                                                  0.3986%
First In                                    2019-08-16 10:00:29 UTC
Last In                                     2020-12-08 10:25:11 UTC
Number Of Ins                                                    42
First Out                                   2020-02-02 17:43:14 UTC
Last Out                                    2020-11-17 18:16:27 UTC
Number of Outs                                                   38
Name: 3, dtype: object